.container {
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sideContainer {
    width: 30%;
    height: 100vh;
    background-color: black;
}

.mainContainer {
    width: 70%;
    height: 100vh;
}